/* fonts.css */

@font-face {
    font-family: 'MixcaseUnmixed';
    src: url('/fonts/mixcaseunmixed.woff2') format('woff2'),
         url('/fonts/mixcaseunmixed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }